<h1>Listado de Heroes</h1>

<div class="row">
    <div class="col text-right">
        <button routerLink="/heroe/nuevo" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table *ngIf="!cargando && heroes.length > 0" class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Estado</th>
            <th scope="col">tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let h of heroes; let indice = index ">
            <th scope="row">{{ indice }}</th>
            <td>{{ h.nombre }}</td>
            <td>{{ h.poder }}</td>
            <td>
                <label *ngIf="h.vivo" class="badge badge-success">Vivo</label>
                <label *ngIf="!h.vivo" class="badge badge-secondary">Muerto</label>
            </td>
            <td>
                <button class="btn btn-info mr-2" type="button" [routerLink]="['/heroe', h.id]"> <i class="fa fa-pencil"></i> </button>
                <button class="btn btn-danger" (click)="borrarHeroe(h, indice)" type="button"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="alert alert-warning text-center mt-3" *ngIf="heroes.length == 0">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando...</h4>
    <p>
        <i class="fa fa-refresh fa-spin fa-3x"></i>
    </p>
    <p class="mb-0">
        Espere Por favor
    </p>
</div>